#resume-section-h2 {
  color: white;
}

.social-icons {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 180px; */
  position: relative;
  bottom: 20px;
}

.social-icons a {
  margin-right: 25px;
}

#first-social-link {
  background-image: url('/images/angelIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width:  30px;
  position: relative;
  left: 3px;
}

#second-social-link {
  background-image: url('/images/linkedinIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width:  30px;
}
#third-social-link {
  background-image: url('/images/githubIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width:  30px;
}
#fourth-social-link {
  background-image: url('/images/mail.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width:  35px;
}
#fifth-social-link {
  background-image: url('/images/resumeIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width:  30px;
}

.lang-icons {
  height: 65px;
  width: 65px;
}

.head-txt {
  opacity: .5;
}

#pers-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  opacity: .65;
}

.content h2 {
  opacity: .6;
}

.image img {
  filter: contrast(1.2);
}

.inner h2 {
  opacity: .5;
}

#very-bot {
  opacity: .55;
}

.icons {
  opacity: .65;
}

#email-sub-but {
  border-radius: 22px;
  padding: 20px;
  color: grey;
  border: solid 1px black;
  text-decoration: none;
}